* {
  box-sizing: border-box;
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.controls.hide {
  display: none;
}

svg {
  width: 60px;
}

.left-arrow {
  transform: rotate(180deg);
}

.bottom-arrow {
  transform: rotate(90deg);
}

.top-arrow {
  transform: rotate(-90deg);
}

.selected {
  border: 2px green solid;
}
